

  .event-container{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin-top: 5rem;
color: aliceblue;  
     
}

.image-box{
    max-width:40%;
    height: auto;
}
 .img-box{
  
    max-width: 100%;
    height: 100%;
      
      }
      @media (min-width: 72em) {
        .about-img {
          float: left;
          
        }
      }

.event-content{
    padding-top: 5rem;
    margin:0 auto;
     width: 90%;
    
     display: flex;
     justify-content: center;
     
     padding-bottom: 2rem;
     
}

.event-list{
    display: block;
    justify-content: center;

}
.event-table{
    background-color: rgba(245, 245, 245, 0.811);
    font-size: 1.2rem;
    color: black;
    height: 100%;
    padding: 2rem;
    
    
  
}
.event-table td{
    padding: 0.5rem;
}

.event-table button{
    margin-top: 2rem;
}
.event-container h2{
    text-align: center;
    color: rgba(0, 0, 0, 0.81);
    font-family: 'Grape Nuts', cursive;
    font-size: 5rem;
  

}


@media(max-width:1227px){
    .event-content{
        width:100%;

    
}

    .image-box{width: 80%;}
    
}
@media(max-width:1200px){
    .event-content{
     display: block;
     

    
}

   .event-table{
       padding: 0.2rem;
   }
   .image-box{
      justify-content: center;
   }
    
}