@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&family=Open+Sans:wght@300&family=Quicksand:wght@300;400&family=Tajawal:wght@200;400&display=swap');

.button {
  font-family: 'Montserrat';
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: .7rem 1.5rem;
    
    border: 1px solid #ffffff ;
   

    color: white;
    background: transparent;
 
    cursor: pointer;
  
   border-radius: 10px;

  }
  
  .button:focus {
    outline: none;
  }
  
 .button:hover{
   background-color: #ffffff;
   transition: 0.5s;
   color: black;
 }
    

  